
*.log
UntitledGameJamGame/Library/SourceAssetDB
UntitledGameJamGame/Library/shadercompiler-UnityShaderCompiler.exe0.log
UntitledGameJamGame/Library/ArtifactDB
*.log
UntitledGameJamGame/Temp/UnityLockfile
